body
{
	background-color: #04071e;
	text-transform: uppercase;
	font-family: "Perpetua";
}

header
{
	background-color: #000001;
	height: 150px;
	position: relative;
}

	h1
	{
		color: #fff;
		font-size: 70px;
		text-align: center;
		padding-top: 50px;
	}

#dossier
{
	width: 154px;
	height: 100px;
	display: inline-block;
	margin-top: 10px;
}

#fichier
{
	width: 75px;
	height: 80px;
	display: inline-block;
	margin-top: 10px;
}

#retour
{
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

a 
{
	color: #fff;
	font-size: 30px;
}

a:hover
{
	text-decoration: none;
	list-style: none;
	font-size: 40px;
	color: #fff;
}